.form-container {
    width: 400px;
    margin: auto;
    padding: 20px;
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3, #0073e6);
    border-radius: 5px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    color: white; 
  }
  
  .form-container input[type="text"],
  .form-container input[type="tel"],
  .form-container input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }
  